# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environnement virtuel
venv/
env/
.venv/

# Base de données
*.db

# Fichiers de logs
*.log

# Fichiers de configuration locaux
.env

# VSCode
.vscode/

# Mac/Linux
.DS_Store